@model Frontend.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center fw-bold display-4">Eliminar Empleado</h1>

<h3 class="text-center mt-4" style="font-size: 1.5rem;">¿Está seguro que desea eliminar este empleado?</h3>

<div class="p-4 mt-4" style="background-color: white; border-radius: 10px; max-width: 600px; margin: 0 auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-3">
        @Html.HiddenFor(Model => Model.EmployeeID)
        <input type="submit" value="Eliminar" class="btn btn-danger w-100" />
    </form>

    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-info">Volver a la lista de empleados</a>
    </div>

</div>