@model Frontend.Models.TransactionViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center fw-bold display-4">Eliminar Transaccion</h1>

<h3 class="text-center mt-4" style="font-size: 1.5rem;">¿Está seguro que desea eliminar esta transaccion?</h3>

<div class="p-4 mt-4" style="background-color: white; border-radius: 10px; max-width: 600px; margin: 0 auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginAccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginAccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationAccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationAccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-3">
        @Html.HiddenFor(Model => Model.TransactionId)
        <input type="submit" value="Eliminar" class="btn btn-danger w-100" />
    </form>

    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-info">Volver a la lista de transacciones</a>
    </div>
</div>

