@model Frontend.Models.TransactionViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginAccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginAccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationAccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationAccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TransactionId })
    <a asp-action="Index">Volver a la lista de Transacciones</a>
</div>
