@model IEnumerable<Frontend.Models.TransactionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center; font-weight: bold; font-size: 2.5rem;">Transacciones</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Nueva Transacción</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginAccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = item.TransactionId })'">Editar</button>
                    <hr />
                    <button class="btn btn-info" onclick="location.href='@Url.Action("Details", new { id = item.TransactionId })'">Detalles</button>
                    <hr />
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.TransactionId })'">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
