@model IEnumerable<Frontend.Models.TransactionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Transacciones</h1>

<p>
    <a asp-action="Create">Nueva Transaccion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginAccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.TransactionId }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.TransactionId }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.TransactionId })
                </td>
            </tr>
        }
    </tbody>
</table>
