@model IEnumerable<Frontend.Models.AccountViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Cuentas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nueva cuenta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningDate)
                </td>
                <td>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = item.AccountId })'">Editar</button> 
                    <button class="btn btn-info" onclick="location.href='@Url.Action("Details", new { id = item.AccountId })'">Detalles</button> 
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.AccountId })'">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
