@model IEnumerable<Frontend.Models.ClientViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center; font-weight: bold; font-size: 2.5rem;">Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Nuevo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = item.ClientId })'">Editar</button>
                    <hr />
                    <button class="btn btn-info" onclick="location.href='@Url.Action("Details", new { id = item.ClientId })'">Detalles</button>
                    <hr />
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.ClientId })'">Eliminar</button>
                </td>
        </tr>
}
    </tbody>
</table>
